---
    const colors = [
      "background",
      "foreground",
      "card",
      "card-foreground",
      "popover",
      "popover-foreground",
      "primary",
      "primary-foreground",
      "secondary",
      "secondary-foreground",
      "muted",
      "muted-foreground",
      "accent",
      "accent-foreground",
      "destructive",
      "border",
      "input",
      "ring",
      "chart-1",
      "chart-2",
      "chart-3",
      "chart-4",
      "chart-5",
      "sidebar",
      "sidebar-foreground",
      "sidebar-primary",
      "sidebar-primary-foreground",
      "sidebar-accent",
      "sidebar-accent-foreground",
      "sidebar-border",
      "sidebar-ring"
    ];
---
  
  <section class="p-8 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
    {colors.map(color => (
      <div class="flex flex-col items-center">
        <div
          class="w-20 h-20 rounded-md border"
          style={`background-color: var(--${color})`}
        ></div>
        <span class="text-xs text-center mt-2">--{color}</span>
      </div>
    ))}
  </section>