---
const { name } : Props = Astro.props;

type Props = {
    name: string;
}

---

<footer>
    <div class="flex justify-center max-w-3xl mx-auto">
        <div class="mb-8">Copyright &copy; {new Date().getFullYear()} | {name}</div>
    </div>
</footer>