---
import { MobileNavbarDrawer } from "@/components/MobileNavbarDrawer";
import { ModeToggle } from '@/components/ModeToggle';


---

<nav class="sm:fixed top-2 w-full flex sm:justify-center justify-end z-50">
  <div
    class="hidden sm:flex justify-center gap-12 my-2 p-3 animate-navbar-blur border rounded-full"
  >
    <a href="#Home" class="nav-link relative hover:font-semibold">Home</a>
    <a href="#Experience" class="nav-link relative hover:font-semibold">Experience</a>
    <a href="#Education" class="nav-link relative hover:font-semibold">Education</a>
    <a href="#Projects" class="nav-link relative hover:font-semibold">Projects</a>
  </div>

  <div class="flex sm:hidden">
    <MobileNavbarDrawer client:load/>
  </div>
  
</nav>

<div class="hidden sm:block absolute right-8 top-6 z-51 ">
  <ModeToggle client:load />
</div>

<style>
  .animate-navbar-blur {
    animation: navbar-blur linear both;
    animation-timeline: scroll(root);
    animation-range: 0 400px;
    max-width: calc(5 / 6 * 100%);
  }

  @keyframes navbar-blur {
    0% {
      border-color: transparent;
      backdrop-filter: blur(0px);
      padding-left: 40vw;
      padding-right: 40vw;
    }
    100% {
      border-color: var(--color-neutral-500);
      backdrop-filter: blur(25px);
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .nav-link::before {
  content: '';
  position: absolute;
  left: -0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--color-primary);
  border-radius: 9999px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.nav-link.active::before {
  opacity: 1;
}
</style>

<script>
  const sections = document.querySelectorAll<HTMLElement>('#Home, #Education, #Experience, #Projects');
  const navLinks = document.querySelectorAll('.nav-link');

  function onScroll() {
    let current = '';
    sections.forEach(section => {
      const sectionTop = section.offsetTop - window.innerHeight / 2;
      if (window.scrollY >= sectionTop) {
        current = section.getAttribute('id') ?? "";
      }
    });

    navLinks.forEach(link => {
      link.classList.remove('active');
      if (link.getAttribute('href') === `#${current}`) {
        link.classList.add('active');
      }
    });
  }

  window.addEventListener('scroll', onScroll);
  onScroll(); // run initially
</script>


